*{
	box-sizing: border-box;
	margin: 0;
}
h1,h2{
	color: black;
	text-align:center;
	margin: 5%;
}

a:link ,a:visited{
	text-decoration: bold,italic;
    background-color: #a9a9a9;
    border: 3px solid coral;
    display: block;
    width: 40%;
    text-align: center;
    height: 100px;
    margin-left: 30%;
    font-size: 40px;
}
a:hover, a:active {
  background-color:darkcyan;
  color: blue;
}
 body{
	background-image: url('abcd.jpeg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;
	font-family: 'Waiting for the Sunrise';
	font-size: 40px;
	font-weight: bolder;
	font-style: oblique;
	text-decoration: blueviolet;

 }
